Source: libvhdi
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libfuse-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libvhdi/

Package: libvhdi
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the Virtual Hard Disk (VHD) image format
 libvhdi is a library to access the Virtual Hard Disk (VHD) image format.

Package: libvhdi-dev
Section: libdevel
Architecture: any
Depends: libvhdi (= ${Source-Version})
Description: Header files and libraries for developing applications for libvhdi
 Header files and libraries for developing applications for libvhdi.

Package: libvhdi-tools
Section: utils
Architecture: any
Depends: libvhdi (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Virtual Hard Disk (VHD) image files
 Several tools for reading Virtual Hard Disk (VHD) image files.

Package: libvhdi-python
Section: python
Architecture: any
Depends: libvhdi (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libvhdi
 Python bindings for libvhdi.

