Source: libvhdi
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, pkg-config, python3-dev, python3-setuptools, libfuse-dev
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libvhdi
Vcs-Git: https://github.com/libyal/libvhdi.git

Package: libvhdi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libvhdi1
Replaces: libvhdi1
Suggests: libvhdi-dbg
Description: Library to access the Virtual Hard Disk (VHD) image format
 libvhdi is a library to access the Virtual Hard Disk (VHD) image format.

Package: libvhdi-dbg
Architecture: any
Section: debug
Depends: libvhdi (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libvhdi
 Debugging symbols for libvhdi.

Package: libvhdi-dev
Section: libdevel
Architecture: any
Depends: libvhdi (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libvhdi
 Header files and libraries for developing applications for libvhdi.

Package: libvhdi-tools
Section: utils
Architecture: any
Depends: libvhdi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libvhdi-utils
Replaces: libvhdi-utils
Description: Several tools for reading Virtual Hard Disk (VHD) image files
 Several tools for reading Virtual Hard Disk (VHD) image files.

Package: libvhdi-tools-dbg
Section: debug
Architecture: any
Depends: libvhdi-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libvhdi-tools
 Debugging symbols for libvhdi-tools.

Package: libvhdi-python3
Section: python
Architecture: any
Depends: libvhdi (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libvhdi
Replaces: python3-libvhdi
Suggests: libvhdi-python3-dbg
Description: Python 3 bindings for libvhdi
 Python 3 bindings for libvhdi.

Package: libvhdi-python3-dbg
Section: debug
Architecture: any
Depends: libvhdi-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libvhdi-python3
 Debugging symbols for libvhdi-python3.

